.Header {

  .mainContainer {

    .topContainer {
      display: flex;
      align-items: center;
      height: 60px;


      .title_menuContainer {
        display: flex;
        width: 20%;
        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;

          img {
            width: 100%;
            height: auto;
          }
        }
        .menu {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
        }
      }
      .search {
        height: 40px;
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0 5px;
        input {
          padding: 11.5px 14px;
        }
        div {

        }
      }

      .buttonsContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        .button {
          width: 24%;
          min-width: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          .buttonName {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: none;
          }
        }
      }
    }

    .bottomContainer {
      border-top:1px solid gray;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 1200px) {
  .Header {
    .mainContainer {
      .topContainer {
        .buttonsContainer {
          .button {
            .buttonName {
              font-size: 13px;
              svg {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .Header {
    .mainContainer {
      .topContainer {
        .buttonsContainer {
          .button {
            .buttonName {
              font-size: 11px;
              svg {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Header {
    .mainContainer {
      .topContainer {
        .buttonsContainer {
          .button {
            .buttonName {
              font-size: 9px;
              svg {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .Header {
    .mainContainer {
      .topContainer {
        .buttonsContainer {
          .button {
            padding: 0;
            .buttonName {
              font-size: 0;
              svg {
                font-size: 22px;
              }
            }
          }
        }
        .search {
          div {
            height: 25px;
          }
        }
      }
    }
  }
}